body {
    font-size: 1.2rem;
}

section[id] {
    scroll-margin-top: 120px;
}

html {
    scroll-behavior: smooth;
}

.fondo-nav {
    background: #350F6B !important;
}

#inicio {
    background: url("../imgs/doctora.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background: rgba(31, 60, 94, 0.7);
    color: #fff;
    padding-top: 20%;
}

#llamado-accion {
    background: #0400ff;
}

#footer {
    background: #050291;
}